input {
  width: 500px;
  height: 50px;
  font-size: 21px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

h1 {
  width: 500px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.App {
  padding-top: 50px;
  width: auto;
  text-align: center;
  margin: 0 auto;
}

.title {
  margin-top: 30px;
  font-size: 30px;
}